/* 
font-family: "Gill Sans", sans-serif;
font-size: 30px;
font-weight: lighter
*/

#one {
    font: {
        family: "Gill Sans", sans-serif;
        size: 30px;
        weight: bold;
    }
}

/*

*/

#two {
    text: {
        align: right;
        overflow: hidden;
        shadow: 1px 1px rgb(228, 22, 22);
        overflow: hidden;
        
    }
}

// Let's add some styling to the Square 

div {
    border: {
        top: outset;
        right: dashed;
        bottom: solid;
        left: groove;
    }
}

div {
    background: {
        color: maroon;
    }
}

div {
    padding: {
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
    }
}

div {
    color: orange;
}

div {
    font: {
        size: 30px;
    }
}